/* inicio - estilo por defecto */
*{
	font-family:Verdana;
	margin:0;
	padding:0;
}
body, html{
	padding:0.2em;
	height:99%;
	background-color:#96B5DA;
}
/* fin - estilo por defecto */
/* inicio - estilo general */
.box-rounded{
	/* Firefox */
	-moz-border-radius:10px;
	/* Safari and Chrome */
	-webkit-border-radius:10px;
	/* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3  */
	border-radius:10px;
}
.box-shadow{
	/* Mozilla 4.0+, Chrome 4.0+, Safari 3.0+, IE 9+, Opera 10.5+ */
	-moznm-box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	/* standard */
	box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.clear{
	clear:both;
}
/* fin - estilo general */
/* inicio - estilo de cabecera */
header{
	/*background-color:#13377B;*/
	/*height:66px;*/
	height:11%;
	margin:0 auto;
	width:99%;
	position:relative;
	background-color:#0E2F6C;
	/* Safari 4-5, Chrome 1-9 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#0E2F6C), to(#1948A0));
	/* Safari 5.1+, Chrome 10+ */
	background:-webkit-linear-gradient(top, #0E2F6C, #1948A0);
	/* Firefox 3.6+ */
	background:-moz-linear-gradient(top, #0E2F6C, #1948A0);
	/* Opera 11.10+ */
	background:-o-linear-gradient(top, #0E2F6C, #1948A0);
	/* IE 6-7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13377B', endColorstr='#1948A0', gradientType='0');
	/* IE 8-9 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#13377B', endColorstr='#1948A0', gradientType='0')";
	/* IE 10+ */
	background:-ms-linear-background(top, #0E2F6C, #1948A0);
	/* Estandar*/
	background:linear-background(top, #0E2F6C, #1948A0);
	margin-bottom:0.3em;
	border-style:double;
	border-color:#fff;
}
#uagrm-logo{
	left:0;
	padding:5px;
	position:absolute;
	top:0;
	height:80%;
}
#uagrm-menu{
	list-style-type:none;
	margin-left:160px;
	padding:5px;
	text-align:right;
}
#uagrm-menu li{
	display:inline-block;
	list-style-type:none;
	margin:5px;
	margin-left:1.5em;
}
#uagrm-menu li a{
	color:white;
	font-size:0.8em;
	font-weight:bold;
	text-decoration:none;
	vertical-align:top;
}
#uagrm-menu li:hover{
	text-decoration:none;
	color:#F00;
	background-color:#FFF;
	border-radius:0.5em;
}
#uagrm-menu li a:hover{
	text-decoration:none;
	color:#F00;
	border-radius:0.5em;
	border
}
#uagrm-menu li img{
	float:left;
	padding:0.1em 0.2em;
}
.sidebar{
	float:left;
	width:100%;
	text-decoration:none;
	list-style:none;
}
.contenido{
	position:absolute;
	margin-left:17%;
	margin-top:0.5em;
	width:80%;
	height:80%;
	background-color:#CCC;
	overflow-y:auto;
	padding:0.7em;
}
.btn1{
	font: 100%/1.4 Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	border:solid 0.1em;
	border-radius:5px;
	height:30px;
	background-color:#1948A0;
	color:#fff;
	cursor:pointer;
	width:16%;
	margin-top:0.5em;
	margin-left:0.3em;
}
.btn1:hover{
	background-color:#fff;
	color:#F00;
	border-color:#1948A0;
}
